.card {
  width: 243px;
  height: 100%;
  background-color: #33414e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.support-text-box {
  padding: 60px 32px 0;
  margin-left: 100px;
}
.support-text-box h2 {
  margin: 0 0 8px;
}
.support-text-box #support-head {
  font-size: 40px;
  margin: 0 0 8px;
  padding: 8px 0 4px;
}
.support-text-box h3 {
  margin: 0 0 24px;
}
.sign-in-main-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 100px;
  margin: 30px 0px 20px 0px;
  position: relative;
}
.sign-in-img-box {
  height: 600px;
  position: relative;
  right: -100px;
}
.sign-in-img-box img {
  height: 100%;
  clip-path: inset(0 10% 0 20%);
  position: relative;
}
.sign-in-container {
  position: absolute;
  width: 606px;

  background-color: #002a58;
  left: 100px;
  z-index: 3;
  padding: 24px 18px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
}
.sign-in-container h2 {
  text-align: center;
}
.sign-in-container h2 {
  font-size: 32px;
}
.sign-in-container h3 {
  padding: 16px 0px 0px;
}

.create-signin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}
.sign-in-services {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.sign-in-services div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 0 0;
  gap: 15px;
}
